<footer>
    <div class="spacetor-xl">&nbsp;</div>
    <div class="container">
        <center>
        <div class="footer-icon-wrap">
             <a href="https://www.instagram.com/sotreqcat" target="_blank">
                <img class="footer-icon" src="{{site_url}}/assets/images/instagram.svg"  alt="sotreq"/>
            </a>
           <a href="https://www.facebook.com/sotreqcat/" target="_blank">
                <img class="footer-icon" src="{{site_url}}/assets/images/facebook.svg"  alt="sotreq"/>
            </a>
            <a href="https://twitter.com/sotreqcat" target="_blank">
                <img class="footer-icon" src="{{site_url}}/assets/images/twitter.svg" alt="sotreq" />
            </a>
             <a href="https://www.youtube.com/user/gruposotreqbr" target="_blank">
                <img class="footer-icon" src="{{site_url}}/assets/images/youtube.svg"  alt="sotreq"/>
            </a>
            <a href="https://www.linkedin.com/company/sotreq-sa" target="_blank">
                <img class="footer-icon" src="{{site_url}}/assets/images/linkedin.svg" alt="sotreq"/>
            </a>
        </div>
    </center>
    </div>
       <div class="spacetor-xl">&nbsp;</div>
</footer>

